<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

        </div>

    </nav>


    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">North Harrison Class of 1991</h1>
                    <h2 class="tagline"> 25 Year Reunion </h2>
                </div>
            </div>
        </div>
                <div ><img id="harrison" src="/harrison.jpg"> </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Event Details</h2>
                <br>
                <p>
                The North Harrison High School Class of 1991 will host its 25 year reunion on Saturday, June 25, 2016, from 6pm-11pm, at the Woods of LaFayette Clubhouse in Floyds Knobs.
                </p><p>
                We'll have plenty of food and drinks and music, so come with an appetite and be ready to celebrate being a Cougar!  The event will be largely indoors and casual (no tuxedos, no formal dining) and is adult-oriented.
                </p>
      
                <p>Get directions to the reunion <a href="http://www.postcardliving.com/lafayette/directions.htm">here.</a></p>

                <p>
                Tickets are $15 per adult, and can be purchased below.  Advanced purchase is appreciated, so get yours now! Tickets will be available at the door too, but why wait?!
                </p><p>
                The following Sunday, June 26th, we'll have a family-friendly pot-luck picnic at a local park--details to follow closer to June.
                </p><p>

                For the out-of-towners who need a hotel, know that the <a href="http://book.bestwestern.com/bestwestern/US/IN/New-Albany-hotels/BEST-WESTERN-PLUS-West-I-64/Hotel-Overview.do?propertyCode=15112">Best Western Plus</a> on State Street is just a few miles away from the reunion, is an easy stop from the airport, and...has a pool!
                </p>
                <br>
                <br>
                <div class="paypal">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="andrewkfinn@gmail.com">
                    <input type="hidden" name="lc" value="US">
                    <input type="hidden" name="item_name" value="Reunion Ticket(s)">
                    <input type="hidden" name="button_subtype" value="services">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                    <table>
                    <tr><td><input type="hidden" name="on0" value="Tickets"><h4>Buy Your Tickets Below</h4><p>After purchase, you'll receive an email. You can keep this email as your your ticket and receipt.</p></td></tr><tr><td><select name="os0">
                        <option value="1 Adult">1 Adult $15.00 USD</option>
                        <option value="2 Adults">2 Adults $30.00 USD</option>
                        <option value="3 Adults">3 Adults $45.00 USD</option>
                        <option value="4 Adults">4 Adults $60.00 USD</option>
                    </select> </td></tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="option_select0" value="1 Adult">
                    <input type="hidden" name="option_amount0" value="15.00">
                    <input type="hidden" name="option_select1" value="2 Adults">
                    <input type="hidden" name="option_amount1" value="30.00">
                    <input type="hidden" name="option_select2" value="3 Adults">
                    <input type="hidden" name="option_amount2" value="45.00">
                    <input type="hidden" name="option_select3" value="4 Adults">
                    <input type="hidden" name="option_amount3" value="60.00">
                    <input type="hidden" name="option_index" value="0">
                    <br>
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>


            </div>
            <div class="col-sm-4">
                    <br>
                    <p>Go to Our NH Class of '91 Group on
                    <a href="https://www.facebook.com/groups/168289646554544/">Facebook</a></p>
                    <br>
                    <hr>
                    <div class="contact">
                    <a href="mailto:northharrisonclassof1991@gmail.com?Subject=Reunion%20Contact" target="_top">Contact</a>
                    </div>

            </div>
        </div>


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Snowpine Industries 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
